body{
  background-color:#FF0000;
}
h1{
  color:blue;
  text-decoration:underline;
  text-decoration-color:#11FF00;
}
p{
  color:#00FF3C;
}
iframe{
  
}
ul{
  text-align: center;
  list-style-type: none;
}
li{
  float: left;
}
li a{
  padding:10px;
  color:blue;
  border: dashed;
}
li a:hover{
  background-color:blue;
  color:white;
}
h2{
  color:blue;
  font-size:30px;
}
h3{
  color:green;
  font-size:30px;
}
